<a href="https://colab.research.google.com/github/Santiagonk/Agencia_de_viajes/blob/main/Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preparation

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd '/content/drive/My Drive/Colab Notebooks/PlatziMaster/Proyecto Agencia de Viajes/datasets'
!ls

/content/drive/My Drive/Colab Notebooks/PlatziMaster/Proyecto Agencia de Viajes/datasets
DataAcomodacion.csv  funciones_auxiliares.ipynb  train_data.txt

In [ ]:
%run funciones_auxiliares.ipynb

## Dependencias

In [ ]:
# Traer librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Carga de Datos

In [ ]:
f = open("train_data.txt", "r")
data_acomodation = load_data(f)
data_acomodation = dataTypeTransform(data_acomodation)
data_acomodation.head()

   id_viaje  duracion_estadia genero  ...  ninos codigo_destino tipo_acomodacion
0   1010286                 7      F  ...      0            COL           AirBnB
1   1000152                 5      M  ...      0           <NA>           AirBnB
2   1009019                 4      F  ...      1             ES            Hotel
3   1007840                 5      F  ...      0             NL            Hotel
4   1006939                 5      M  ...      1             UK            Hotel

[5 rows x 7 columns]

## Seleccion de Datos

In [ ]:
data_acomodation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9868 entries, 0 to 9867
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_viaje          9868 non-null   Int64
 1   duracion_estadia  9868 non-null   Int64
 2   genero            9868 non-null   category
 3   edad              8874 non-null   Int64
 4   ninos             8897 non-null   string
 5   codigo_destino    8872 non-null   string
 6   tipo_acomodacion  9868 non-null   string
dtypes: Int64(3), category(1), string(3)
memory usage: 578.3 KB

`id_viaje`, `duracion_estadia`, `genero` y `tipo_acomodacion` se encuentran sin datos nulos.
tenemos que pasar a valores numericos las variables que tenemos,  por ejemplo con variables dummy en el caso de `genero` y `codigo_destino`.

En la primera iteraci√≥n del modelo realizaremos, con las variables que tenemos.

## Limpieza de Datos